
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Input New Recipe</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="bolShow" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Form tidak boleh kosong!
        </div>
        <div *ngIf="bolShowSuccess" class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Berhasil Add !!
        </div>
        <form>
          <div class="form-group">
            <label for="namerecipe">Name Recipe</label>
            <input type="text" class="form-control" id="namerecipe" placeholder="Name Recipe" name="name" [(ngModel)]="recipes[0].name">
          </div>
          <div class="form-group">
            <label for="desc">Short Description</label>
            <input type="text" maxlength="125" class="form-control" id="desc" placeholder="Short Description" name="description" [(ngModel)]="recipes[0].description" >
          </div>
          <div class="btn-group pull-right" style="margin-bottom: .5rem;" role="group" aria-label="...">
            <button type="button" class="btn btn-danger" (click)="onRemoveImg()">Remove Image Link</button>
            <button type="button" class="btn btn-success" (click)="onAddImg()">Add Image Link</button>
          </div>
          <div class="form-group" style="clear: both;">
            <label>File input</label>
              <input style="margin-bottom: 1rem;" *ngFor="let item of recipes[0].imagePath; let index = index" type="text" id="indeximg{{index}}" name="indeximg{{index}}" class="form-control" [(ngModel)]="item.name">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClear()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="onAdd()">Add New Recipe</button>
      </div>
    </div>
  </div>
</div>
